
<div class="row fade1">
        <div class="col text-center" id="imgtitle">
            <img src="/images/prmfavicon.png"  id="documentLogo" alt="" style="width: 15%;">
        </div>
    </div>

<div class="row">
    <div class="col-md-3 mx-auto">
        <a href="/users/signin" class="btn btn-primary btn-block">Entrar</a>
    </div>
</div>