   <nav class="navbar navbar-dark nav-custom">
    <a class="navbar-brand" href="/panel">
    <img src="/images/prmfavicon.png" width="30" height="30" class="d-inline-block align-top" alt="">
    PRM SAN PEDRO
  </a>
  <ul class="navbar-nav ml-auto">
    <li class="nav-item"><a href="/users/logout" class="nav-link">Logout</a></li>
  </ul>
  </nav>