{{#each errors}}
  <div class="alert alert-danger alert-dismissible fade show" role="alert">
  {{text}}
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
{{/each}}



<div class="row">
        <div class="col text-center" id="imgtitle">
            <img src="/images/document-icon-t.png"  id="documentLogo" alt="" style="width: 10%;">
        </div>
    </div>


<div class="col-md-4 mx-auto">
    <div class="card">
        <div class="card-header">
            <h3 class="text-center">SELECCION DE ACTA</h3>
        </div>
        <div class="card-body">
            <form action="/actas/seleccion" method="POST">
                <div class="form-group">
                    <label for="nivelActa">Tipo de Acta</label>
                    <select name="nivelActa" class="form-control" autofocus>
                        <option value="presidencial">Presidencial</option>
                        <option value="senatorial">Senatorial</option>
                        <option value="diputadosD1">Diputados D1</option>
                        <option value="diputadosD2">Diputados D2</option>
                    </select> 
                </div>
                <div class="form-group">
                    <label for="nivelActa">Municipio</label>
                    <select name="municipio" class="form-control" autofocus>
                        <option value="San Pedro De Macoris">San Pedro De Macoris</option>
                        <option value="Consuelo">Consuelo</option>
                        <option value="Guayacanes">Guayacanes</option>
                        <option value="Los Llanos">Los Llanos</option>
                        <option value="Quisqueya">Quisqueya</option>
                        <option value="Ramon Santana">Ramon Santana</option>
                        
                    </select> 
                </div>
                <div class="form-group">
                    <label for="colegio">Ingresar Colegio</label>
                    <input type="text" name="colegio" class="form-control" placeholder="Colegio"></input>
                </div>
                <div class="form-group">
                    <a href="../" class="btn btn-danger btn-block" >
                         <i class="fas fa-angle-double-left btn-arrow-icon"></i>Atras
                    </a>
                </div>
                <div class="form-group">
                    <button class="btn btn-primary btn-block" type="submit">
                        Continuar <i class="fas fa-angle-double-right"></i>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>